.search-field {
  position: relative;

  & .input {
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
  }

  & .search-field__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    line-height: 0;
  }
}
